body {
    /* background-color: bisque; */
    background-image: url(imgs/bg2.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    font-family: sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}
ul {
    list-style-type: none;
    text-align: center;
}
li {
    display: inline;
    margin: 15px;
    /* border-right: 2px solid black; */
}
ul a {
    text-decoration: none;
}

.navigation {
    border: 2px solid black;
    padding: none;
}

h2 {
    color: #333;
}

.about h2{
    background-color: #2ECC71;
}

.about p {
    font-weight:500;
    /* background-color: white; */
}

.skills h2 {
    text-decoration: underline;
    color: #2ECC71;
}

.projects h2 {
    text-decoration: line-through;
}

.contact h2 {
    font-size: 38px;
}

.palette {
    display: flex;
}

.color-box {
    width: 200px;
    height: 200px;
    /* background-color: red; */
}

#one {
background-color: white;
}

#two {
background-color: black;
}

#three {
background-color: #2ECC71;
}
#four {
background-color: #333;
}
/* #E5E5E5 - a silver grey */